
<h1>You're here</h1> <p>
Willing to change your life
</p>
<%require 'mediacloth'%>
<%require 'wikicloth'%>
<%require 'media_wiki'%>
<%mw = MediaWiki::Gateway.new('http://en.wikipedia.org/w/api.php')%>
<%= link_to "Sign up now!", 'users/new', :class => "signup_button round" %>