.container {
width: 1310px;
}
body { background: #fff;
}
#header { padding-top: 0px; width: 1310px; float: right;
}
#header img { padding-top: 0px; background: #fff; float: left;
}
#content { margin-left: 1em; margin-top: 1em; font-size: 120%; padding: 5px; min-height: 35em; background: #ddd; width: 630px; float: left;
}
#sidebar { font-size: 120%; background: #ddd; width: 630px; float: right;
	margin-right: 1em; margin-top: 1em;
	padding: 5px 0 0 5px; min-height: 35em;
}
div.post { font-size: 120%; padding: 5px; background: #cef; 
}
/* Links */
a{ color: #09c; text-decoration: none;
}
a:hover { color: #069; text-decoration: underline;
}
a:visited { color: #069;
}
.navigation { float: right;
}
.navigation { background-color: white; padding: 0 0.7em; white-space: nowrap;
}
ul.navigation { margin: 0;}
.navigation li { list-style-type: none; display: inline-block; padding: 0.2em 0;
}
.navigation li a { padding: 0 5px; font-weight: bold;
}
.navigation li a:visited { color: #09c;
}
.navigation li a:hover { text-decoration: underline;
}
a.signup_button { margin-left: auto; margin-right: auto; display: block; text-align: center; width: 150px;
color: #fff; background: #09c; font-size: 150%; font-weight: bold; padding: 10px; opacity: 0.6;
}
.round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
￼border-radius: 10px; }
#footer {
text-align: right; margin-top: 7px; width: 1310px; margin-left: aerrorExplanation ul li {
font-size: 12px;
list-style: square; 
}

}
