<div id="header" class="round"> <a href="/"><%= image_tag("logo.png", :alt => "DaQuest", :class => "round") %></a> <ul class="navigation round">
 <li> <% if current_user %>
        <b><%= current_user.name %></b>
        <%= link_to "Sign-out", :signout%>
        <% else %>
        <%= link_to "Sign-in", :signin %>
        <% end %></li>
</ul> </div>

       
